<h1><%= link_to "URBD", home_path %></h1>
<h2>Add a new title!</h2>

<%= form_for @vid, url: {:action => "add_new"} do |f|%>
	Movie Title: <%= f.text_field :title %> <br>
	Movie Gif: <%= f.text_field :gif %> <br>
	Movie Youtube ID: <%= f.text_field :youtube_id %> <br>
	Movie Description: <%= f.text_area :desc %> <br>
	<%= f.submit "Create" %>
<% end %>